*{background-color: #1b1b1b;
 font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;

  }

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.palavra{
  color: rgb(96, 159, 211);
}

.title{
  display: grid;
  text-align: center;
  margin-top: 2%;
  color: whitesmoke;
  animation: fadein 3s forwards;
  h1{
  font-size: 450%;
  }
  i{
    margin-top: 1%;
    font-size: 105%;
  }
}

.container{
  display: grid;
  text-align: center;
  color: whitesmoke;
  animation: fadein 3s forwards;
 padding: 2.5rem;
 margin: 6% 15% 0 15%;
 background-color:rgb(9, 144, 255);
 border-radius: 10px;
 
    a{  font-weight: bold;
        text-decoration: none;
        font-family: 'Segoe UI', sans-serif;
        color: whitesmoke;
        font-size: 180%;
        color:rgb(140, 228, 255);
        background-color:rgb(9, 144, 255);

      }
    h3{
      color: rgb(140, 228, 255);
      background-color:rgb(9, 144, 255);
      margin-bottom: 2%;

      }

    h4{
      margin-top: 1%;
      text-align: left;
      font-size: 110%;
      background-color:rgb(9, 144, 255);
    }


}
